body{
    background-color:green;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.forg{
    display:flex;
    justify-content:space-between;
}

#big img{
    height:300px;
}

h1{
    border:solid lightgreen 30px;
    color:aliceblue;
    font-family:monospace;
}

a{
    font-size:50px;
    text-decoration: none;
}